.Bath {
    background-color: #009933;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Full {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

#Half {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
}